{% extends 'base_card.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block card_title %} Add a Category {% endblock %}

{% block card_content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 pt-2 pb-2">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div>{{ form.section }}</div>
                <div class="row">
                  <div class="col-lg-0 col-md-0 col-sm-0">
                    {{ form.name|as_crispy_field }}
                  </div>
                <div class="col-lg-11 col-md-11 col-sm-11 form-actions" style="margin-top: 37px; text-align: right">
                  <button type="submit" class="btn btn-primary" >Save</button>
                </div>

                </div>
            </form>

        </div>

      </div>
    </div>

{% endblock %}