{% extends 'base_card.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block card_title %} Add a Not Born Yet Child {% endblock %}

{% block card_content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 pt-2 pb-2">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div>{{ form.user }}</div>
                <div>{{ form.child_status }}</div>
                <div class="row">
                  <div class="col-lg-0 col-md-0 col-sm-0">
                    {{ form.name|as_crispy_field }}
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form.size_system|as_crispy_field }}
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    {{ form.due_date|as_crispy_field }}
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 form-actions" style="margin-top: 37px">
                      <button type="submit" class="btn btn-primary" >Save</button>
                  </div>

                </div>
            </form>

        </div>

      </div>
    </div>

{% endblock %}